<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Home</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
      <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="../static/js/jquery-ui.js"></script>
   </head>
   <body>
      <nav class="header">
         <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
               <div class="row">
                  <div class="col-sm-4 bannerpic"></div>
                  <div class="col-sm-8 navcontainer">
                     <div class="row">
                        <div class="col-sm-12 navsearch">
                           <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search" />
                              <span class="input-group-btn">
                              <button class="btn" type="button">
                              <span class="fa fa-search" aria-hidden="true"></span>
                              </button>
                              </span>
                           </div>
                           {% if not current_user.is_authenticated %}
                               <a href="{{ url_for('login') }}" class="admin btn adminall" role="button">LOG IN</a>
                           {% else %}
                               <div class="adminall">
                                  <strong>Welcome  {{ current_user.nickname }}!</strong><br>
                                  <a href="{{ url_for('logout') }}" class="admin btn" role="button">LOG OUT</a>
{#                                  {% if current_user.email == 'yunchuwangpeter@aol.com' %}#}
{#                                      <a href="{{ url_for('compose') }}" class="btn admin composebtn" role="button">COMPOSE</a>#}
{#                                  {% endif %}#}
                                  <a href="{{ url_for('compose') }}" class="btn admin composebtn" role="button">COMPOSE</a>
                               </div>

                           {% endif %}
                        </div>
                        <div class="col-sm-12 navlist">
                           <ul class="tablist">
                              <li>
                                  <a href="{{ url_for('home') }}"><strong>HOME</strong></a>
                              </li>
                              <li>
                                  <a href="{{ url_for('blog') }}"><strong>BLOGS</strong></a>
                              </li>
                              {% if g.user.is_authenticated %}
                              <li>
                                  <a href="{{ url_for('user', nickname=g.user.nickname, page=1, scrollplace="common") }}"><strong>PROFILE</strong></a>
                              </li>
                              {% endif %}
                              <li>
                                  <a href="{{ url_for('about') }}"><strong>ABOUT</strong></a>
                              </li>
                              <li>
                                  <a href="{{ url_for('contact') }}"><strong>CONTACT</strong></a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-1"></div>
         </div>
      </nav>
      <div class="container-fluid">
         <div class="bodycontainer">
            <div class="row">
               <div class="col-sm-1"></div>
               <div class="col-sm-10">
                  <div class="row">
                     <div class="col-sm-8 posts fbfont">
                         {% block content %}{% endblock %}
                     </div>
                     <div class="col-sm-4 marks">
                        <div id="accordion" role="tablist" aria-multiselectable="true">
                           <div class="card">
                              <div class="card-header" role="tab" id="recentposts" data-toggle="collapse" data-parent="#accordion" href="#recentpostslink" aria-expanded="true" aria-controls="recentpostslink">
                                 <h5 class="mb-0 sideheadstyle bounce">
                                    <a>
                                    RECENT POSTS
                                    </a>
                                 </h5>
                              </div>
                              {% if title == "index" %}
                              <div id="recentpostslink" class="collapse" role="tabpanel" aria-labelledby="recentposts">
                              {% else %}
                              <div id="recentpostslink" class="collapse in" role="tabpanel" aria-labelledby="recentposts">
                              {% endif %}
                                    <div class="card-block">
                                       <ul class="list-group">
                                          <li class="list-group-item justify-content-between">
                                             Cras justo odio
                                             <span class="badge badge-default badge-pill">14</span>
                                          </li>
                                          <li class="list-group-item justify-content-between">
                                             Dapibus ac facilisis in
                                             <span class="badge badge-default badge-pill">2</span>
                                          </li>
                                          <li class="list-group-item justify-content-between">
                                             Morbi leo risus
                                             <span class="badge badge-default badge-pill">1</span>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="card">
                                 <div class="card-header" role="tab" id="recentcomments" data-toggle="collapse" data-parent="#accordion" href="#recentcommentslink" aria-expanded="true" aria-controls="recentcommentslink">
                                    <h5 class="mb-0 sideheadstyle bounce">
                                       <a>
                                       RECENT COMMENTS
                                       </a>
                                    </h5>
                                 </div>

                                 {% if title == "index" %}
                                 <div id="recentcommentslink" class="collapse" role="tabpanel" aria-labelledby="recentcomments">
                                 {% else %}
                                 <div id="recentcommentslink" class="collapse in" role="tabpanel" aria-labelledby="recentcomments">
                                 {% endif %}
                                       <div class="card-block">
                                          <ul class="list-group">
                                             <li class="list-group-item justify-content-between">
                                                Cras justo odio
                                                <span class="badge badge-default badge-pill">14</span>
                                             </li>
                                             <li class="list-group-item justify-content-between">
                                                Dapibus ac facilisis in
                                                <span class="badge badge-default badge-pill">2</span>
                                             </li>
                                             <li class="list-group-item justify-content-between">
                                                Morbi leo risus
                                                <span class="badge badge-default badge-pill">1</span>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="card">
                                    <div class="card-header" role="tab" id="archieves" data-toggle="collapse" data-parent="#accordion" href="#archieveslink" aria-expanded="true" aria-controls="archieveslink">
                                       <h5 class="mb-0 sideheadstyle bounce">
                                          <a>
                                          ARCHIVES
                                          </a>
                                       </h5>
                                    </div>
                                    <div id="archieveslink" class="collapse in" role="tabpanel" aria-labelledby="archieves">
                                       <div class="card-block">
                                          <ul class="list-group">
                                             <li class="list-group-item justify-content-between">
                                                Cras justo odio
                                                <span class="badge badge-default badge-pill">14</span>
                                             </li>
                                             <li class="list-group-item justify-content-between">
                                                Dapibus ac facilisis in
                                                <span class="badge badge-default badge-pill">2</span>
                                             </li>
                                             <li class="list-group-item justify-content-between">
                                                Morbi leo risus
                                                <span class="badge badge-default badge-pill">1</span>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="card">
                                    <div class="card-header" role="tab" id="categories" data-toggle="collapse" data-parent="#accordion" href="#categorieslink" aria-expanded="true" aria-controls="categorieslink">
                                       <h5 class="mb-0 sideheadstyle bounce">
                                          <a>
                                          CATEGORIES
                                          </a>
                                       </h5>
                                    </div>
                                    <div id="categorieslink" class="collapse in" role="tabpanel" aria-labelledby="categories">
                                       <div class="card-block">
                                          <ul class="list-group">
                                             <li class="list-group-item justify-content-between">
                                                Cras justo odio
                                                <span class="badge badge-default badge-pill">14</span>
                                             </li>
                                             <li class="list-group-item justify-content-between">
                                                Dapibus ac facilisis in
                                                <span class="badge badge-default badge-pill">2</span>
                                             </li>
                                             <li class="list-group-item justify-content-between">
                                                Morbi leo risus
                                                <span class="badge badge-default badge-pill">1</span>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-1"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="../static/js/blog.js"></script>
      <footer class="footer">© 2017 Personal Blog . All rights reserved | Template by Bill Wang</footer>
   </body>
</html>
